
<mat-accordion>
<mat-expansion-panel *ngFor="let plan of isureplans" class="card">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{plan.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <img [src]="plan.image" alt="plan image"/>
  <p matLine>{{plan.description}}</p>
    <app-lifes-info></app-lifes-info>
  <mat-action-row>
    <a mat-raised-button color="primary" *ngIf="operadoraSelecionada" routerLink='/card'><mat-icon>attach_money</mat-icon>Valores</a>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
